* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex: 1 1 auto;
    width: auto;
    height: 100vh;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/momo-UmxKy_dulqk-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 40vw;
}

.content-container {
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: rgb(230, 230, 230);
    font-size: 1.4rem;
    font-weight: 700;
    min-height: 30vh, 300px;
}

.header p:first-child {
    margin-top: 8rem;
    margin-bottom: 1rem;
}

.header p:last-child {
    margin-bottom: 3rem;
}

label, input {
    display: block;
}

#sign-up {
    background-color: white;
    min-height: 40vh, 600px;
}

#sign-up p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.form-row {
    display: flex;
    justify-content: left;
}

input {
    height: 1.4rem;
    margin-bottom: 1.5rem
}

label {
    font-size: .8rem;
}



.footer {
    background-color: rgb(230, 230, 230);
    min-height: 30vh, 300px;
}