* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex: 1 1 auto;
    width: 100vw;
    height: 100vh;
}

.image-container {
    background-image: url(images/momo-UmxKy_dulqk-unsplash.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 40vw;
}

.content-container {
    display: flex;
    flex-direction: column;
    
}

.header {
    background-color: rgb(230, 230, 230);
    font-size: 1.4rem;
    padding-left: 2rem;
    font-weight: 700;
    height: 300px;
}

.header p:first-child {
    margin-top: 8rem;
    margin-bottom: 1rem;
    max-width: 60rem;
}

.header p:last-child {
    margin-bottom: 3rem;
}

label, input {
    display: block;
}

#sign-up {
    background-color: white;
    height: 300px;
    padding-bottom: 1rem;
    padding-left: 2rem;
    position: relative;
    box-shadow: 0px 2px 8px gray;
}

#sign-up p {
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.form-rows {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

.form-row {
    display: flex;
    border: 1px solid red;
}


input {
    height: 1.4rem;
    margin-bottom: 1.5rem;
}

label {
    font-size: .8rem;
}



.footer {
    background-color: rgb(230, 230, 230);
    height: 300px;
}

button {
    font-size: 1.4rem;
    color: white;
    background-color: rgb(23, 130, 23);
    margin: 24px;
    margin-top: 36px;
    padding: 12px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 8px;
}

.footer p {
    margin-left: 26px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(23, 130, 23);
}